<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>openrole.net - Malmsturm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="styles/vendor.css">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/openrole.css -->
    <link rel="stylesheet" href="styles/openrole.css">
    <!-- endbuild -->
</head>
<body ng-app="openrole">
<div ng-controller="MalmsturmCtrl as ctrl">
    <div id="top-layer" ng-hide="loadingReady"><div class="panel panel-default loadinganel">
        <div class="panel-body">
            <div class="progress progress-striped active">
                <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    {{loading}}
                </div>
            </div>
        </div>
    </div></div>
    <div ng-include="'views/nav.html'"></div>
    <div ng-include="'views/dialog.open.html'"></div>
    <div ng-include="'views/dialog.alert.html'"></div>
    <!-- header end -->

    <div class="container hideUninitalized" is-initialized="{{initialized}}">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="MALMSTURM.TITLE_CHARACTER"></h3>
            </div>
            <div class="panel-body">
                <input type="text" ng-model="openrole.charactername" class="form-control" placeholder="{{'MALMSTURM.CHARACTERNAME' |translate}}">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="MALMSTURM.SKILLS"></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="list in openrole.skillpyramid track by $index">
                    <div class="list-inline">
                        <span class="badge or-skill-lbl">+{{openrole.skillpyramidstartvalue - $index}} {{openrole.stufenleiter[openrole.skillpyramidstartvalue - $index]}}</span>

                        <!-- Split button -->
                        <div class="btn-group" ng-repeat="item in list track by $index" style="margin: 2px;">
                            <button type="button" class="btn btn-or-skill" data-mark="{{getMark(item, $parent.$index, $index)}}"
                                    style="min-width: 120px"
                                    id="skill_List{{$parent.$index}}_Skill{{$index}}"
                                    ng-click="markOrMoveSkill($parent.$index, $index)">{{item.title}}</button>
                            <button type="button" class="btn btn-or-skill-dd dropdown-toggle"
                                    data-toggle="dropdown"
                                    ng-hide="item.title=='_'" id="skillDD_List{{$parent.$index}}_Skill{{$index}}">
                                <span class="caret"></span>
                                <span class="sr-only">Move</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default"
                                            ng-repeat="destlist in openrole.skillpyramid"
                                            ng-click="moveSkill(list, item, $parent.$index, $index)"
                                            ng-hide="hideMoveButton(destlist, $parent.$parent.$index, $index)"
                                            id="moveBtn_List{{$parent.$parent.$index}}_Skill{{$parent.$index}}_{{$index}}">
                                        +{{openrole.skillpyramidstartvalue - $index}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div openrole-input-list title="MALMSTURM.ASPECTS" placeholder="MALMSTURM.ASPECT" content="openrole.aspects" show-description-area="MALMSTURM.EVENTS"></div>

        <div openrole-input-list title="MALMSTURM.TALENTS" placeholder="MALMSTURM.TALENTS_PLACEHOLDER" content="openrole.talents"></div>

        <div openrole-input-list title="MALMSTURM.WEAPONS" placeholder="MALMSTURM.WEAPON" content="openrole.weapons"></div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="MALMSTURM.BELASTUNG"></h3>
            </div>
            <div class="panel-body">
                <div class="row" ng-repeat="bel in openrole.belastungspunkte">
                    <div class="col-xs-2"><label class="control-label" translate="MALMSTURM.{{bel.id}}"></label></div>
                    <div class="col-xs-3" style="text-align: right"><label class="control-label">{{bel.defaultval}} + {{bel.skillbonus}} ({{bel.dependsOnSkill}}) + </label></div>
                    <div class="col-xs-1"><input type="text" class="form-control input-sm" ng-model="bel.bonus" ng-change="calcBelastung()"></div>
                    <div class="col-xs-6" style="text-align: left"><label class="control-label">= {{bel.total}} <img src="images/malmsturm/rune.jpg" style="height: 20px;" ng-repeat="x in bel.totalArr track by $index"></label></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="MALMSTURM.DIVERSES"></h3>
            </div>
            <ul  class="list-group">
                <li class="list-group-item form-inline">
                    <input type="text" class="form-control input-sm" ng-model="openrole.beute">
                    <label class="control-label" translate="MALMSTURM.ANZAHL_BEUTE_ANZEIGEN"></label>
                </li>
                <li class="list-group-item form-inline">
                    <label class="control-label" translate="PDFTEMPLATE"></label>:

                    <or-dropdown data-menu-type="button" select-val="openrole.pdftemplate = selectedVal"
                                 preselected-item="openrole.pdftemplate" data-dropdown-data="registeredPDFTemplates"></or-dropdown>

                </li>



            </ul>
        </div>

    </div><!-- container -->

    <!-- footer start -->
    <footer ng-include="'views/footer.html'"></footer>
</div>
</body>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/jspdf/dist/jspdf.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/openrole.js -->
<script src="scripts/app.js"></script>
<script src="scripts/openrole/jsPdf.openrole.plugins.js"></script>
<script src="scripts/openrole/locale.js"></script>
<script src="scripts/openrole/common.js"></script>
<script src="scripts/openrole/DialogOpenCtrl.js"></script>
<script src="scripts/openrole/DialogRegistrationCtrl.js"></script>
<script src="scripts/openrole/AlertService.js"></script>
<script src="scripts/openrole/LoaderService.js"></script>
<script src="scripts/openrole/openroleInputList.js"></script>
<script src="scripts/openrole/PreferencesCtrl.js"></script>
<script src="scripts/openrole/directiveDropdown.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/malmsturm.js -->
<script src="scripts/malmsturm/MalmsturmCtrl.js"></script>
<script src="scripts/malmsturm/pdf.1.js"></script>
<script src="scripts/malmsturm/locale.js"></script>
<!-- endbuild -->

</html>
