<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>openrole.net - Malmsturm GM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/openrole.css -->
    <link rel="stylesheet" href="styles/openrole.css">
    <!-- endbuild -->
</head>
<body ng-app="openrole">
<div ng-controller="MalmsturmGMCtrl as ctrl">
    <div id="top-layer" ng-hide="loadingReady"><div class="panel panel-default loadinganel">
        <div class="panel-body">
            <div class="progress progress-striped active">
                <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    {{loading}}
                </div>
            </div>
        </div>
    </div></div>
    <div ng-include="'views/nav.html'"></div>
    <div ng-include="'views/dialog.open.html'"></div>
    <div ng-include="'views/dialog.alert.html'"></div>
    <!-- header end -->

    <div class="container hideUninitalized" is-initialized="{{initialized}}">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="MALMSTURMGM.GROUP"></h3>
            </div>
            <div class="panel-body">
                <input type="text" ng-model="openrole.charactername" class="form-control" placeholder="{{'MALMSTURMGM.GROUP' |translate}}">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="MALMSTURMGM.CHARACTERSELECTION"></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="character in openrole.characters track by $index">
                        <or-dropdown-shared-char select-model="openrole.characters[$index]" select-val="openrole.characters[$index] = selectedVal"
                                     preselected-item="openrole.characters[$index]" data-dropdown-data="data.availableChars"></or-dropdown-shared-char>
                    </div>
                </ul>
            </div>
            <div class="panel-footer">
                <button type='button' class='btn btn-default btn-xs' ng-click="newLink(openrole.characters)">
                    <span class='glyphicon glyphicon-plus-sign'></span>
                    <span translate="BUTTON.ADD"></span>
                </button>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate="MALMSTURMGM.PDFPREF"></h3>
            </div>
            <ul  class="list-group">
                <li class="list-group-item form-inline">
                    <span translate="PDFTEMPLATE"></span>:

                    <or-dropdown ng-model="openrole.pdftemplate" data-dropdown-data="registeredPDFTemplates"></or-dropdown>
                </li>
                <li class="list-group-item form-inline">
                    <input type="checkbox" ng-model="openrole.pdfprintaspecttext" ng-true-value="'true'" ng-false-value="''">
                    <span translate="MALMSTURMGM.PRINTASPEKTTEXT"></span>

                </li>
            </ul>
        </div>

    </div><!-- container -->

    <!-- footer start -->
    <footer ng-include="'views/footer.html'"></footer>
</div>
</body>

<!-- build:js(app) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/jspdf/dist/jspdf.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-ace/ui-ace.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="scripts/3rdpartymins/pdfkit0.7.blob0.1.2.filesaver.min.js"></script>

<!-- build:js({.tmp,app}) scripts/openrole.js -->
<script src="scripts/app.js"></script>
<script src="scripts/openrole/jsPdf.openrole.plugins.js"></script>
<script src="scripts/openrole/locale.js"></script>
<script src="scripts/openrole/common.js"></script>
<script src="scripts/openrole/utils.js"></script>
<script src="scripts/openrole/DialogOpenCtrl.js"></script>
<script src="scripts/openrole/DialogRegistrationCtrl.js"></script>
<script src="scripts/openrole/AlertService.js"></script>
<script src="scripts/openrole/LoaderService.js"></script>
<script src="scripts/openrole/directiveInputList.js"></script>
<script src="scripts/openrole/PreferencesCtrl.js"></script>
<script src="scripts/openrole/directiveDropdown.js"></script>
<script src="scripts/openrole/directiveShares.js"></script>
<script src="scripts/openrole/directiveDropdownSharedChar.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/malmsturmgm.js -->
<script src="scripts/malmsturmgm/MalmsturmGMCtrl.js"></script>
<script src="scripts/malmsturmgm/pdf.1.js"></script>
<script src="scripts/malmsturmgm/locale.js"></script>
<!-- endbuild -->

</html>
