<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Credits</h3>
        </div>
        <div class="panel-body">
          icons by <a href="http://glyphicons.com/">Glyphicons.com</a><br>
          Font <a href="http://www.1001freefonts.com/averia_serif_libre.font">AveriaSerif</a> (<a href="http://scripts.sil.org/OFL">OFL</a>)<br>
          Font <a href="http://www.1001freefonts.com/just_another_hand.font">JustAnotherHand</a> (Public Domain)<br>
        </div>

    </div>
</div>
