
<nav  class="navbar  navbar-default navbar-fixed-top" role="navigation" id="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main" id="smalldevmenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">openrole.net</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-main" ng-controller="LoginCtrl">
            <ul class="nav navbar-nav">
                <li ng-hide="openrole_module_name == 'Overview'"><a href="#" ng-click="reset()" title="Neu / Reset"><span class="glyphicon glyphicon-file"></span> Neu</a></li>
                <li ng-hide="openrole_module_name == 'Overview'"><a  href="#" ng-click="createPDF()" title="PDF erzeugen"><span class="glyphicon glyphicon-download"></span> PDF</a></li>
                <li ng-show="loggedin && openrole_module_name != 'Overview'"><a href="#" ng-click="open()"><span class="glyphicon glyphicon-open"></span> Öffnen</a></li>
                <li ng-show="loggedin && openrole_module_name != 'Overview'"><a href="#" ng-click="store()"><span class="glyphicon glyphicon-save"></span> Speichern</a></li>
                <li><a href="preferences.html" title="{{'MENU.PREFERENCES' | translate}}" id="menuBtnPref"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li ng-show="loggedin"><a href="#" ng-click="logout()" title="{{'MENU.LOGOUT' | translate}}"><span class="glyphicon glyphicon glyphicon-off"></span></a></li>
              </ul>
              <form class="navbar-form navbar-left" ng-submit="login()" ng-hide="loggedin">
                <div class="form-group" >
                    <input type="text" class="form-control" placeholder="e-mail" ng-model="email">
                    <input type="password" class="form-control" placeholder="passwort" ng-model="pw">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Anmelden</button>
                    <button type="button" class="btn btn-link" ng-click="registerDialog()"><span class="glyphicon glyphicon-edit"></span> Registrieren</button>
                </div>
              </form>


          <!-- div ng-controller="LocaleCtrl">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="changeLanguage('en')">en</a></li>
                    <li><a href="#" ng-click="changeLanguage('de')">de</a></li>
                </ul>
            </ul>
          </div-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>

<!-- Modal Registration dialog -->
<div ng-controller="LoginCtrl">
    <script type="text/ng-template" id="registration.html">
        <form class="form-horizontal">
        <div class="modal-header">
            <h3>Registrierung</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" ng-show="errorExists()">{{registerError}}</div>
            <div class="form-group" >
                <label class="control-label col-xs-4">{{'LABEL.NICK' | translate}} {{'LABEL.NICK_NOTE' | translate}}</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" placeholder="Nickname (optional)" ng-model="nick">
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-xs-4" translate="LABEL.EMAIL"></label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" placeholder="e-mail" ng-model="email">
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-xs-4" translate="LABEL.PW1"></label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" placeholder="passwort" ng-model="pw">
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-xs-4" translate="LABEL.PW2"></label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" placeholder="passwort" ng-model="pwrepeat">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <textarea class="form-control" translate="LABEL.DATAPROTECTION">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="register()">Anmelden</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        </form>
    </script>
</div>
